nav {
  display: flex;
  align-items: center;
}
nav > * {
  cursor: pointer;
}

.logo {
  margin-right: auto;
  display: flex;
  width: 12%;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  width: 25%;
  justify-content: space-between;
  margin-right: 15px;
}

li:hover {
  border-bottom: 3px solid hsl(var(--clr-accent));
}
.auth {
  display: flex;
  width: 17%;
  justify-content: space-between;
  align-items: center;
}
.login {
  border-right: 2px solid hsl(var(--clr-white) / 0.5);
}
.navBtn {
  width: 120px;
}
